<div class="container">
<h1>Contacto</h1>
<div id="texto" #textos>
  <p appResaltado>Esta es la pagina de contacto</p>
</div>

<!--
<input type="text"[(ngModel)] = "widthSlider" (keyup.enter) = "cargarSlider()"> <br>
<button (click) = "cargarSlider()">Cargar el tamaño del Slider</button> <br>
<button (click) = "resetearSlider()">Resetear el tamaño del Slider</button> <br>
<div *ngIf="anchuraToSlider">
  Tamaño del slider: <strong>{{widthSlider}}</strong>
  <slider [anchura] = "anchuraToSlider"
          (getAutor) = "conseguirAutor($event)"
  ></slider>
</div>
<div *ngIf="autor">
  {{autor.nombre + " "+autor.apellidos}}
</div>
-->

</div>

