<header>
  <ul>
    <li><a [routerLink]="['/sobremi']" [routerLinkActive]="['actived']"> Sobre Mí</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']"> Proyectos</a></li>
    <li id="logo"><a href="/">FRV</a></li>
    <li><a [routerLink]="['/crearproyecto']" [routerLinkActive]="['actived']"> Crear Proyectos</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content" >

  <router-outlet></router-outlet>
</section>

<footer>
  Mi Portafolio &copy;
</footer>
